* {
  box-sizing: border-box;
  
}
.App-header {
Fill: Solid #FFFFFF;
-webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);

}
.body{
  display:grid;
  grid-template-columns: 65% 30%;

}
.header{

font-family: 'Montserrat', sans-serif;
font-weight: Bold;
font-size: 42px;
line-height: 51px;
line-height: 100%;
text-align: Center;
vertical-align: Top;
Fill: Solid#25282B;
}
.list-entry{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.cost-block{
  
  padding: 2em;
  display:block;
  height: 300px;
  width:442px;
  margin-left: 98px;
  margin-top: 60px;
  border-radius: 6px;
  Fill: Solid #FFFFFF;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
